body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
.header {
  padding: 60px;
  text-align: center;
  background: #7a0019;
  color: maroon;
  font-size: 30px;
}
